<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find python_astar_dummy_planner)/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find python_astar_dummy_planner)/rviz/view_navigation.rviz"/>
    </group>


    <!-- Python A* node -->
    <!-- <node pkg="python_astar_dummy_planner" type="simple_astar_planner.py" name="simple_astar_planner" output="screen"/> -->
    <node pkg="python_astar_dummy_planner" type="simple_astar_planner_yaw_correction.py" name="simple_astar_planner" output="screen"/>
    

</launch>

